<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
      <add key="EventHubNamespace" value="eventhub-ns1976" />
      <add key="EventHubEntityPath" value="eventhub1976" />
      <add key="EventHubSharedAccessKeyName" value="reader" />
      <add key="EventHubSharedAccessKey" value="L91j1gjLPNhMkMV7Dmj8+SgvJHZm9RquiT2VPvaA5jc=" />
      <add key="EventHubPartitions" value="4" />
  </appSettings>
</configuration>